@inherits RazorEngine.Templating.TemplateBase

@{
    Layout = "../Shared/_AdminLayout.cshtml";
}

<div class="jumbotron">
    <div class="container">
        <div class="page-header text-center">
            <h1>AngularJS Authentication</h1>
        </div>
        <p>This single page application is built using AngularJS, it is using OAuth bearer token authentication, ASP.NET Web API 2, OWIN middleware, and ASP.NET Identity to generate tokens and register users.</p>
    </div>
</div>
<div class="container">
    <div data-ng-view="">
    </div>
</div>
<hr />
<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p class="text-muted">Created by Taiseer Joudeh. Twitter: <a target="_blank" href="http://twitter.com/tjoudeh"></a></p>
            </div>
            <div class="col-md-6">
                <p class="text-muted">Taiseer Joudeh Blog: <a target="_blank" href="http://bitoftech.net">bitoftech.net</a></p>
            </div>
        </div>
    </div>
</div>
