@inherits RazorEngine.Templating.TemplateBase<Dashboard.Models.BaseViewModel>

@{
    Layout = "../Shared/_AdminLayout.cshtml";
}

<article class="container-fluid" id="container">
    <div data-ng-view="" class="fade">
    </div>
</article>


