@using System.Linq
@inherits RazorEngine.Templating.TemplateBase<Dashboard.Models.Home.HomeViewModel>

@{
    Layout = "../Shared/_HomeLayout.cshtml";
}

<div class="container" ng-app="homeApp" ng-cloak>
    @if (Model.Plugins.Any())
    {
        int fullRows = (Model.Plugins.Length / 3) + 1;

        for (int i = 0; i < fullRows; i++)
        {
            <div class="row">
                @for (int j = 0; j < 3 && (i + j) < Model.Plugins.Length; j++)
                {
                    <div class="col s12 m6">
                        <div class="card medium">
                            <h5 class="card-title" style="text-align: center; padding-top: 20px;">
                                @Model.Plugins[i + j].Plugin.Name
                            </h5>
                            @Raw(Model.Plugins[i + j].Content)
                        </div>
                    </div>
                }
            </div>
        }
    }
    else
    {
        <div style="text-align: center;opacity: 0.4;" class="text=muted">
            <span style="font-size: 240px">
                <i class="fa fa-plug fa-lg"></i>
            </span>
            <br />
            <span style="font-size: 30px">
                No plugins, <a href="/#/plugins/upload">turn some on</a>
            </span>
        </div>
    }

</div>
<script>
    $(document).ready(function () {
        update();
    });
</script>