@inherits RazorEngine.Templating.TemplateBase<Dashboard.Models.Home.HomeViewModel>

@{
    Layout = "../Shared/_HomeLayout.cshtml";
}

<body class="application">
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="../">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="navbar-brand" href="./">Layouts &raquo; Split-Centered</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li><a href="/">Dashboard</a></li>
                    <li><a href="/Configure">Configure</a></li>
                    <li><a href="#">Upload Plugin</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="chart-wrapper">
                            <div class="chart-title">
                                Cell Title
                            </div>
                            <div class="chart-stage">
                                <form name="form1" method="post" enctype="multipart/form-data" action="api/configure/upload-plugin">
                                    <div>
                                        <label for="caption">Image Caption</label>
                                        <input name="caption" type="text" />
                                    </div>
                                    <div>
                                        <label for="image1">Image File</label>
                                        <input name="image1" type="file" />
                                    </div>
                                    <div>
                                        <input type="submit" value="Submit" />
                                    </div>
                                </form>
                            </div>
                            <div class="chart-notes">
                                Notes about this chart
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="chart-wrapper">
                            <div class="chart-title">
                                Cell Title
                            </div>
                            <div class="chart-stage">
                                <img data-src="holder.js/100%x120/white">
                            </div>
                            <div class="chart-notes">
                                Notes about this chart
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="chart-wrapper">
                    <div class="chart-title">
                        Cell Title
                    </div>
                    <div class="chart-stage">
                        <form action="/api/account/register" class="form-horizontal" method="post" role="form">
                            <hr />
                            <div class="validation-summary-valid text-danger" data-valmsg-summary="true">
                                <ul>
                                    <li style="display:none"></li>
                                </ul>
                            </div>    <div class="form-group">
                                <label class="col-md-2 control-label" for="Email">Email</label>
                                <div class="col-md-10">
                                    <input class="form-control" data-val="true" data-val-email="The Email field is not a valid e-mail address." data-val-required="The Email field is required." id="Email" name="Email" type="text" value="" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label" for="Hometown">Hometown</label>
                                <div class="col-md-10">
                                    <input class="form-control" id="Hometown" name="Hometown" type="text" value="" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label" for="Password">Password</label>
                                <div class="col-md-10">
                                    <input class="form-control" data-val="true" data-val-length="The Password must be at least 6 characters long." data-val-length-max="100" data-val-length-min="6" data-val-required="The Password field is required." id="Password" name="Password" type="password" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label" for="ConfirmPassword">Confirm password</label>
                                <div class="col-md-10">
                                    <input class="form-control" data-val="true" data-val-equalto="The password and confirmation password do not match." data-val-equalto-other="*.Password" id="ConfirmPassword" name="ConfirmPassword" type="password" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" class="btn btn-default" value="Register" />
                                </div>
                            </div>
                        </form>

                    </div>
                    <div class="chart-notes">
                        Notes about this chart
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="chart-wrapper">
                            <div class="chart-title">
                                Cell Title
                            </div>
                            <div class="chart-stage">
                                <img data-src="holder.js/100%x120/white">
                            </div>
                            <div class="chart-notes">
                                Notes about this chart
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="chart-wrapper">
                            <div class="chart-title">
                                Cell Title
                            </div>
                            <div class="chart-stage">
                                <img data-src="holder.js/100%x120/white">
                            </div>
                            <div class="chart-notes">
                                Notes about this chart
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="chart-wrapper">
                    <div class="chart-title">
                        Cell Title
                    </div>
                    <div class="chart-stage">
                        <img data-src="holder.js/100%x120/white">
                    </div>
                    <div class="chart-notes">
                        Notes about this chart
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="chart-wrapper">
                    <div class="chart-title">
                        Cell Title
                    </div>
                    <div class="chart-stage">
                        <img data-src="holder.js/100%x120/white">
                    </div>
                    <div class="chart-notes">
                        Notes about this chart
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="chart-wrapper">
                    <div class="chart-title">
                        Cell Title
                    </div>
                    <div class="chart-stage">
                        <img data-src="holder.js/100%x120/white">
                    </div>
                    <div class="chart-notes">
                        Notes about this chart
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="chart-wrapper">
                    <div class="chart-title">
                        Cell Title
                    </div>
                    <div class="chart-stage">
                        <img data-src="holder.js/100%x120/white">
                    </div>
                    <div class="chart-notes">
                        Notes about this chart
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="chart-wrapper">
                    <div class="chart-title">
                        Cell Title
                    </div>
                    <div class="chart-stage">
                        <img data-src="holder.js/100%x120/white">
                    </div>
                    <div class="chart-notes">
                        Notes about this chart
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="chart-wrapper">
                    <div class="chart-title">
                        Cell Title
                    </div>
                    <div class="chart-stage">
                        <img data-src="holder.js/100%x120/white">
                    </div>
                    <div class="chart-notes">
                        Notes about this chart
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr>

</body>