@using System.Linq
@inherits RazorEngine.Templating.TemplateBase<Dashboard.Models.Home.HomeViewModel>

@{
    Layout = "../Shared/_HomeLayout.cshtml";
}

<div class="container">
    @if (Model.Plugins.Any())
    {
        <div class="row">
            
            @foreach (var plugin in Model.Plugins)
            {
                <span>@plugin.Plugin.UrlName</span>
                @Raw(plugin.Content)
            }

        </div>
    }
    else
    {
        <div style="text-align: center;opacity: 0.4;" class="text=muted">
            <span style="font-size: 240px">
                <i class="fa fa-plug fa-lg"></i>
            </span>
            <br />
            <span style="font-size: 30px">
                No plugins, <a href="/#/plugins/upload">turn some on</a>
            </span>
        </div>
    }

</div>
