
<article class="jumbotron" id="home">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="page-header text-center">
                    <h1>Project Dashboard</h1>
                </div>
                <p>
                    Plug-in based platform for aggregated information presentation.
                </p>

                <hr />
                <div class="row" id="info">
                    <div class="col-md-4">
                        <a target="_blank" href="/documentation">
                            <i class="fa fa-book fa-4x"></i>
                            <br />
                            Tutorials
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a target="_blank" href="/api/reference">
                            <i class="fa fa-server fa-4x"></i>
                            <br />
                            API
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a target="_blank" href="https://github.com/Superzer0/ProjectDashboard">
                            <i class="fa fa-github fa-4x"></i>
                            <br />
                            Sources
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div id="carousel" class="carousel slide" data-ride="carousel" data-wrap="wrap">
                    <div class="carousel-inner">
                        <div class="item active">
                            <div>
                                <br />
                                <i class="fa fa-plug fa-2x"></i>
                                <br />
                                <span>Plugin based</span>
                            </div>
                        </div>
                        <div class="item">
                            <br />
                            <i class="fa fa-cogs fa-2x"></i>
                            <br />
                            <span>Technology invariant</span>
                        </div>
                        <div class="item">
                            <div>
                                <br />
                                <i class="fa fa-creative-commons fa-2x"></i>
                                <br />
                                <span>Open Source</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>


<article class="row">
    <div class="col-md-2">
        &nbsp;
    </div>

    <div class="col-md-4" data-ng-hide="isAuth()">
        <h2>Login</h2>
        <p class="text-primary">Token & Cookies based Authentication</p>
        <p><a class="btn btn-info" href="#/login" role="button">Login &raquo;</a></p>
    </div>
    <div class="col-md-4" data-ng-hide="isAuth()">
        <h2>Sign Up</h2>
        <p class="text-primary">Create your own Project View</p>
        <p>
            <a class="btn btn-info" href="#/signup" role="button">Sign Up &raquo;</a>
        </p>
    </div>

    <div class="col-md-4" data-ng-show="isAuth()">
        <h2>My Dashboard</h2>
        <p class="text-primary">Plugins Dashboard</p>
        <p><a class="btn btn-info" href="/home" role="button">go &raquo;</a></p>
    </div>
    <div class="col-md-4" data-ng-show="isAuth()">
        <h2>Settings</h2>
        <p class="text-primary">Manage your plugins & settings</p>
        <p>
            <a class="btn btn-info" href="#/user/index" role="button">more &raquo;</a>
        </p>
    </div>

    <div class="col-md-2">
        &nbsp;
    </div>
</article>
<script>
    $(document).ready(function () {
        $('.carousel').carousel({
            interval: 6000
        });
        $('.carousel').carousel('cycle');
    });
</script>