<nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a href="#/instance/index">
                manage instance
            </a>
        </li>
        <li>
            <a href="#/instance/users">
                <i class="fa fa-users"></i>
                users
            </a>
        </li>
        <li>
            <a href="#/instance/index">
                <i class="fa fa fa-cogs"></i>
                endpoint
            </a>
        </li>
        <li>
            <a href="#/instance/tokens">
                <i class="fa fa-anchor"></i>
                applications
            </a>
        </li>
        <li>    
            <a data-ng-click="toogleMenu()" class="hide-menu">
                <i class="fa fa-sign-out fa-rotate-180"></i>
                hide Menu
            </a>
        </li>
    </ul>
</nav>