<article id="user_index" class="sidebar-content">
    <div id="wrapper">
        <!-- Sidebar -->
        <div data-ng-include="'app/views/user/sidebar.html'"></div>
        <div id="page-content-wrapper">
            <div data-ng-click="toogleMenu()" class="showSidebar">
                <i class="fa fa-bars fa-2x"></i>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>plugins</h1>
                        <hr />
                        <div class="row">
                            <div class="col-md-offset-1 col-md-10">
                                
                                    <div class="panel-body">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <td>Name</td>
                                                    <td>Version</td>
                                                    <td>Actions</td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>heheh</td>
                                                    <td>1.02</td>
                                                    <td>some some</td>
                                                </tr>
                                                <tr>
                                                    <td>heheh</td>
                                                    <td>1.02</td>
                                                    <td>some some</td>
                                                </tr>
                                                <tr>
                                                    <td>heheh</td>
                                                    <td>1.02</td>
                                                    <td>some some</td>
                                                </tr>
                                                <tr>
                                                    <td>heheh</td>
                                                    <td>1.02</td>
                                                    <td>some some</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</article>