<?xml version="1.0" encoding="utf-8"?>
<plugin>
  <name>Jenkins Jobs</name>
  <pluginId>B099E79A-4279-4035-80B5-5438C66D75AF</pluginId>
  <version>1.1.1.2366</version>
  <communicationType>Plain</communicationType>
  <startingProgram>SampleDashboardBrokerConsumer.exe</startingProgram>
  <icon>icon.ico</icon>
  <api>
    <method name="get-jobs">
      <inputType>String</inputType>
      <outputType>String</outputType>
    </method>
  </api>
</plugin>