<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="2.0.0" targetFramework="net461" />
  <package id="Jenkins.Core" version="2.1.1.30588" targetFramework="net452" />
  <package id="Jenkins.Domain" version="2.1.1.22017" targetFramework="net461" />
  <package id="log4net" version="2.0.5" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net452" />
</packages>