<script data-server-link src="gitLatestCommitsCtrl.js"></script>
<style>
    .badge-icon {
        width: 40px;
        height: 40px;
        color: white;
        display: block;
        border-radius: 100px;
        text-align: center;
        vertical-align: text-top;
        text-transform: uppercase;
        font-size: large;
    }

</style>

<div ng-controller="gitLatestCommitsCtrl" data-app-id>
    <div class="card-content">

        <!-- loading -->
        <div class="progress" ng-show="showLoader()">
            <div class="indeterminate"></div>
        </div>
    
        <!-- error -->
        <div ng-show="showError()" style="text-align:center;">
             <i class="material-icons">error_outline</i>
            <br>
            <span>Error occured
                <a ng-click="fetchCommits()" href>
                    reload
                </a>
            </span>
        </div>

        <!-- empty state -->
        <div ng-show="showEmptyState()" style="text-align:center;">
             <i class="material-icons">not_interested</i>
            <br>
            <span>Nothing to show here.
                <a ng-click="fetchCommits()" href>
                    reload
                </a>
            </span>
        </div>

        <!-- content -->        
        <table class="table table-striped " ng-show="showContent()">
            <thead>
                <tr>
                	<td></td>
                    <td>name</td>
                    <td>message</td>
                    <td>date</td>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="commit in commits | orderBy: '-Date' | limitTo: config.commitsToShow">
                    <td>
						<div style="width:50px; height:50px;">
                            <img src="{{commit.avatarUrl}}" alt="{{commit.name}}" class="circle responsive-img" />
                        </div>
												
                    </td>
                    <td>{{commit.name}}</td>
                    <td>{{commit.message}}</td>
                    <td>
                        <div style="width: 100px;">
                            {{commit.date | date: 'd/MMM H:mm' }}
                        </div>
                    </td>
                </tr>
            </tbody>    
        </table>
    </div>
    <div class="card-action">
        <span class="help-block">
            <i>showing commits from: <b>{{config.repoOwner}}/{{config.repoName}}</b></i>
        </span>
        
        <span ng-show="lastFetchedOn" class="help-block">
            <i>last fetched on: {{lastFetchedOn | date : 'medium'}}</i>
            <br />
            <a ng-click="fetchCommits()" href>
                reload
            </a>
        </span>
    </div>
</div>