<script data-server-link src="gitLatestCommitsCtrl.js"></script>
<style>
    .badge-icon {
        width: 40px;
        height: 40px;
        color: white;
        background: #29b6f6;
        display: block;
        border-radius: 100px;
        text-align: center;
        vertical-align: text-top;
        text-transform: uppercase;
        font-size: large;
    }

</style>

<div ng-controller="gitLatestCommitsCtrl" data-app-id>
    <div class="card-content">
        <table class="table table-striped ">
            <thead>
                <tr>
                	<td></td>
                    <td>name</td>
                    <td>message</td>
                    <td>date</td>
                    <td>changes</td>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="commit in commits | orderBy: '-Date' | limitTo: config.commitsToShow">
                    <td>
						<span class="badge-icon">
							{{commit.CommiterName.charAt(0)}}
						</span>
                    </td>
                    <td>{{commit.CommiterName}}</td>
                    <td>{{commit.Message}}</td>
                    <td>{{commit.Date | date: 'medium' }}</td>
                    <td>{{commit.Changes}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="card-action">
        <span class="help-block">
            <i>showing commits from: <b>{{config.repoAdress}} </b>@<b>{{config.branch}}</b></i>
        </span>
        <br />

        <span ng-show="lastFetchedOn" class="help-block">
            <i>last fetched on: {{lastFetchedOn | date : 'medium'}}</i>
            <br />
            <a ng-click="fetchCommits()" href>
                reload
            </a>
        </span>
    </div>
</div>