<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IManageBrokerService" />
                <binding name="BasicHttpBinding_ILaunchPluginsService" />
                <binding name="BasicHttpBinding_IInstallPluginsService" messageEncoding="Mtom" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8732/Dashboard.Broker/instance/soap" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IManageBrokerService" contract="BrokerInstance.IManageBrokerService" name="BasicHttpBinding_IManageBrokerService" />
            <endpoint address="http://localhost:8732/Dashboard.Broker/plugin/soap" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILaunchPluginsService" contract="BrokerExecution.ILaunchPluginsService" name="BasicHttpBinding_ILaunchPluginsService" />
            <endpoint address="http://localhost:8732/Dashboard.Broker/installation/blob" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IInstallPluginsService" contract="BrokerInstallation.IInstallPluginsService" name="BasicHttpBinding_IInstallPluginsService" />
        </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>